<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Software.Basico.Properties.Settings.PBTdB" connectionString="Dsn=LocalHost;description=Banco de Dados Local;server=localhost;uid=root;pwd=1234;database=PBTdB;port=3306" providerName="System.Data.Odbc" />
    <add name="BibliotecaDB" connectionString="metadata=res://*/DB.BibliotecaDB.csdl|res://*/DB.BibliotecaDB.ssdl|res://*/DB.BibliotecaDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=BibliotecaDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BibliotecaDBAzure" connectionString="metadata=res://*/DB.BibliotecaDB.csdl|res://*/DB.BibliotecaDB.ssdl|res://*/DB.BibliotecaDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=peedroca.database.windows.net;initial catalog=BibliotecaDB;user id=PedroHM;password=peedroca@2018;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FreiInfoA" connectionString="metadata=res://*/DB.Frei.csdl|res://*/DB.Frei.ssdl|res://*/DB.Frei.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.9;initial catalog=infoa;user id=sa;password=Homolog@2018;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>